.form-container {
  max-width: 500px;
  margin: auto;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

select,
button {
  padding: 0.6rem;
  font-size: 1rem;
}