<button (click)="showEventsView()">showEventsView</button><br />

<div>
  <form [formGroup]="createEventForm" (ngSubmit)="onSubmit()">

    <input formControlName="dateTime" type="datetime-local" /><br>
    <input formControlName="description" placeholder="Description" /><br>
    <input formControlName="sportName" placeholder="Sport" /><br>

    <input formControlName="homeTeamName" placeholder="Home team" /><br>
    <input formControlName="awayTeamName" placeholder="Away team" /><br>

    <input formControlName="venueName" placeholder="Venue" /><br>
    <input formControlName="venueCity" placeholder="City" /><br>

    <button type="submit">Add</button>

  </form>
</div>