<button (click)="showEventsView()" aria-label="switch to event view">
  View with Events
</button>

<div class="form-container">
  <form
    [formGroup]="createEventForm"
    (ngSubmit)="onSubmit()"
    aria-labelledby="form-title">
    <h2 id="form-title">Add event</h2>

    <div class="form-group">
      <label for="dateTime">Date and hour</label>
      <input
        id="dateTime"
        formControlName="dateTime"
        type="datetime-local"
        required
        aria-describedby="dateTime-error"
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        id="description"
        formControlName="description"
        placeholder="Event description"
      />
    </div>

    <div class="form-group">
      <label for="sportName">Choose Sport</label>
      <select id="sportName" 
        formControlName="sportName" 
        required 
        aria-describedby="chooseSport-error"
        >
        <option value="">-- choose sport --</option>
        <option *ngFor="let sport of sportOptions" [value]="sport.value">
          {{ sport.label }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="homeTeamName">Home team</label>
      <input
        id="homeTeamName"
        formControlName="homeTeamName"
        placeholder="Home team"
        aria-describedby="homeTeam-error"
      />
    </div>

    <div class="form-group">
      <label for="awayTeamName">Away team</label>
      <input
        id="awayTeamName"
        formControlName="awayTeamName"
        placeholder="Away team"
        aria-describedby="awayTeam-error"
      />
    </div>

    <div class="form-group">
      <label for="venueName">Venue</label>
      <input
        id="venueName"
        formControlName="venueName"
        placeholder="Venue"
        aria-describedby="venue-error"
      />
    </div>

    <div class="form-group">
      <label for="venueCity">City</label>
      <input
        id="venueCity"
        formControlName="venueCity"
        placeholder="City"
        aria-describedby="city-error"
      />
    </div>

    <button type="submit">
      Add event
    </button>

    <p *ngIf="isLoading">Loading...</p>
    <p *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </p>
  </form>
</div>

<div 
  id="dateTime-error" 
  *ngIf="(submitted || f['dateTime'].touched) && f['dateTime'].invalid"
  >
  <small *ngIf="f['dateTime'].errors?.['required']">
    Date is required in form
  </small>
</div>

<div
  id="chooseSport-error" 
  *ngIf="(submitted || f['sportName'].touched) && f['sportName'].invalid">
  <small *ngIf="f['sportName'].errors?.['required']">
    Choose sport in form
  </small>
</div>

<div 
  id="homeTeam-error" 
  *ngIf="(submitted || f['homeTeamName'].touched) && f['homeTeamName'].invalid">
  <small *ngIf="f['homeTeamName'].errors?.['required']">
    Home team name are required in form
  </small>
</div>

<div 
  id="awayTeam-error" 
  *ngIf="(submitted || f['awayTeamName'].touched) && f['awayTeamName'].invalid">
  <small *ngIf="f['awayTeamName'].errors?.['required']">
    Away team name are required in form
  </small>
</div>

<div  
  id="venue-error" 
  *ngIf="(submitted || f['venueName'].touched) && f['venueName'].invalid">
  <small *ngIf="f['venueName'].errors?.['required']">
    Venue is required in form
  </small>
</div>

<div  
  id="city-error" 
  *ngIf="(submitted || f['venueCity'].touched) && f['venueCity'].invalid">
  <small *ngIf="f['venueCity'].errors?.['required']">
    Venue is required in form
  </small>
</div>

