<button (click)="showEventsView()">
  Back to events list
</button>

<main class="main">
  <table *ngIf="event; else noEvent" aria-label="Event details">
    <caption>Event details</caption>

    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Sport</th>
        <th scope="col">Home</th>
        <th scope="col">Away</th>
        <th scope="col">Venue</th>
        <th scope="col">City</th>
        <th scope="col">Link</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{ event.id }}</td>
        <td>{{ event.dateTime | date: "yyyy-MM-dd HH:mm" }}</td>
        <td>{{ event.description }}</td>
        <td>{{ sportMap[event.sportName] }}</td>
        <td>{{ event.homeTeamName }}</td>
        <td>{{ event.awayTeamName }}</td>
        <td>{{ event.venueName }}</td>
        <td>{{ event.venueCity }}</td>
        <td>
          <a href="#" aria-label="View details">
            View
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noEvent>
    <p role="status">No event found</p>
  </ng-template>
</main>