<main class="main" *ngIf="event">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Opis</th>
        <th>Sport</th>
        <th>Home</th>
        <th>Away</th>
        <th>Venue</th>
        <th>City</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{ event.id }}</td>
        <td>{{ event.dateTime | date:'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ event.description }}</td>
        <td>{{ sportMap[event.sportName] }}</td>
        <td>{{ event.homeTeamName }}</td>
        <td>{{ event.awayTeamName }}</td>
        <td>{{ event.venueName }}</td>
        <td>{{ event.venueCity }}</td>
      </tr>
    </tbody>
  </table>
</main>

<p *ngIf="!event">Brak eventu</p>